openapi: 3.1.0
info:
  title: RemitFlex API
  version: 1.0.0
  description: |
    Programmatic access to RemitFlex swaps, payment routes, rates, customers, and transactions.

    **Dashboard:** Create API keys at https://dashboard.kaprex.io

    **Authentication:** Send your API key as `Authorization: Bearer rmf_live_...` or `rmf_test_...`.

    **Idempotency:** Mutating requests (`POST`, `PUT`, `PATCH`, `DELETE`) require an `Idempotency-Key` header when authenticated with an API key.

servers:
  - url: https://api.remitflex.io/v1
    description: Production
  - url: http://localhost:4000/v1
    description: Local development

security:
  - ApiKeyAuth: []

components:
  securitySchemes:
    ApiKeyAuth:
      type: http
      scheme: bearer
      description: |
        API key created in the RemitFlex Dashboard at dashboard.kaprex.io (`rmf_live_...` or `rmf_test_...`).
        Key management endpoints require a dashboard JWT and are not part of this reference.

  parameters:
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      description: Unique key for safe retries on mutating API-key requests. Cached for 24 hours per org, method, and path.
      schema:
        type: string
        maxLength: 255
        example: 7f3c2a1b-4e5d-6c7b-8a9f-0e1d2c3b4a5f

  schemas:
    SuccessEnvelope:
      type: object
      properties:
        status:
          type: string
          example: success
        message:
          type: string
        data:
          nullable: true

    ErrorEnvelope:
      type: object
      properties:
        status:
          type: string
          example: error
        message:
          type: string
        errors:
          type: object
          additionalProperties: true
          description: Present on 422 validation errors (Zod field messages).

    CreateSwapRequest:
      type: object
      required: [from, to, amount, destinationAddress]
      properties:
        from:
          type: string
          minLength: 2
          maxLength: 10
          example: USDC
          description: Source currency code.
        to:
          type: string
          minLength: 2
          maxLength: 10
          example: EURC
          description: Destination currency code.
        amount:
          type: number
          exclusiveMinimum: 0
          maximum: 1000000000
          example: 100
          description: Human-readable input amount.
        destinationAddress:
          type: string
          minLength: 32
          maxLength: 64
          example: 2dudFU32c5wsRpfRZDXBAJFirHC4hindqpKSCwwtDaAB
          description: Solana address to receive swapped tokens.

    Swap:
      type: object
      properties:
        id:
          type: string
          format: uuid
        status:
          type: string
          enum:
            - awaiting_deposit
            - deposit_received
            - swapping
            - completed
            - failed
            - expired
            - cancelled
        from:
          type: string
        to:
          type: string
        amount:
          type: number
        expectedAmount:
          type: string
          description: Atomic units expected on deposit.
        receivedAmount:
          type: string
          nullable: true
        outputAmount:
          type: string
          nullable: true
        rate:
          type: number
          nullable: true
        feeBps:
          type: integer
        depositAddress:
          type: string
          description: SPL token account (ATA) to deposit to.
        depositWallet:
          type: string
        destinationAddress:
          type: string
        swapTxSignature:
          type: string
          nullable: true
        payoutTxSignature:
          type: string
          nullable: true
        errorMessage:
          type: string
          nullable: true
        expiresAt:
          type: string
          format: date-time
        completedAt:
          type: string
          format: date-time
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        expectedOutput:
          type: number
          nullable: true
        receivedOutput:
          type: number
          nullable: true

    CreatePaymentRouteRequest:
      type: object
      required: [name, originChainId, destinationChainId, destinationCurrency, destinationAddress]
      properties:
        name:
          type: string
          minLength: 2
          maxLength: 80
        originChainId:
          type: integer
          minimum: 1
        originCurrency:
          type: string
          minLength: 4
          maxLength: 128
        destinationChainId:
          type: integer
          minimum: 1
        destinationCurrency:
          type: string
          minLength: 4
          maxLength: 128
        destinationAddress:
          type: string
          minLength: 8
          maxLength: 128
        refundTo:
          type: string
          minLength: 8
          maxLength: 128
        strict:
          type: boolean
          default: false
        customerId:
          type: string
          minLength: 1
          maxLength: 128

    PaymentRoute:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        status:
          type: string
          enum: [active, paused, archived]
        customerId:
          type: string
        customerName:
          type: string
        origin:
          type: object
        destination:
          type: object
        refundTo:
          type: string
          nullable: true
        depositAddress:
          type: string
        relayRequestId:
          type: string
          nullable: true
        strict:
          type: boolean
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    CreateCustomerRequest:
      type: object
      required: [name, email]
      properties:
        name:
          type: string
          minLength: 2
          maxLength: 120
        email:
          type: string
          format: email
          maxLength: 255
        type:
          type: string
          enum: [individual, business]
          default: individual

    Customer:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        email:
          type: string
        type:
          type: string
        isPrimary:
          type: boolean
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

paths:
  /rates:
    get:
      operationId: listRates
      summary: List exchange rates
      description: Returns cached Jupiter rates for all configured pairs. Requires `fx:read` scope.
      tags: [Rates]
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Rates fetched
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          chain: { type: string }
                          provider: { type: string }
                          updatedAt: { type: string, nullable: true }
                          refreshing: { type: boolean }
                          rates: { type: array, items: { type: object } }
        "401":
          description: Invalid or missing API key
        "403":
          description: Missing required scope

  /rates/currencies:
    get:
      operationId: listRateCurrencies
      summary: List currencies and pairs
      description: Returns supported currencies and swap pairs. Requires `fx:read` scope.
      tags: [Rates]
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Currencies fetched

  /rates/{from}/{to}:
    get:
      operationId: getPairRate
      summary: Get pair rate
      description: Returns the cached rate for a single currency pair. Requires `fx:read` scope.
      tags: [Rates]
      security:
        - ApiKeyAuth: []
      parameters:
        - name: from
          in: path
          required: true
          schema:
            type: string
          example: USDC
        - name: to
          in: path
          required: true
          schema:
            type: string
          example: EURC
      responses:
        "200":
          description: Rate fetched
        "503":
          description: Rate not available yet

  /swaps:
    get:
      operationId: listSwaps
      summary: List swaps
      description: Returns up to 50 swaps for your organisation, newest first. Requires `transfers:read` scope.
      tags: [Swaps]
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Swaps fetched
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          swaps:
                            type: array
                            items:
                              $ref: "#/components/schemas/Swap"
                          total:
                            type: integer
    post:
      operationId: createSwap
      summary: Create swap
      description: |
        Creates a Solana swap and returns a deposit address. Deposit the `from` token to `depositAddress` before expiry.
        Requires `transfers:write` scope and an `Idempotency-Key` header.
      tags: [Swaps]
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSwapRequest"
      x-codeSamples:
        - lang: bash
          label: curl
          source: |
            curl -X POST https://api.remitflex.io/v1/swaps \
              -H "Authorization: Bearer $REMITFLEX_API_KEY" \
              -H "Idempotency-Key: $(uuidgen)" \
              -H "Content-Type: application/json" \
              -d '{"from":"USDC","to":"EURC","amount":100,"destinationAddress":"2dudFU32c5wsRpfRZDXBAJFirHC4hindqpKSCwwtDaAB"}'
      responses:
        "201":
          description: Swap created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/Swap"
        "400":
          description: Missing Idempotency-Key
        "422":
          description: Validation error or unsupported pair

  /swaps/{id}:
    get:
      operationId: getSwap
      summary: Get swap
      description: Requires `transfers:read` scope.
      tags: [Swaps]
      security:
        - ApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Swap fetched
        "404":
          description: Swap not found

  /swaps/{id}/cancel:
    post:
      operationId: cancelSwap
      summary: Cancel swap
      description: Cancels a swap in `awaiting_deposit` status. Requires `transfers:write` scope and `Idempotency-Key`.
      tags: [Swaps]
      security:
        - ApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "200":
          description: Swap cancelled
        "409":
          description: Swap cannot be cancelled in current status

  /customers:
    get:
      operationId: listCustomers
      summary: List customers
      description: Requires `transfers:read` scope.
      tags: [Customers]
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Customers fetched
    post:
      operationId: createCustomer
      summary: Create customer
      description: Requires `transfers:write` scope and `Idempotency-Key`.
      tags: [Customers]
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCustomerRequest"
      responses:
        "201":
          description: Customer created

  /transactions:
    get:
      operationId: listTransactions
      summary: List transactions
      description: Unified ledger of payment-route deposits and swaps. Requires `transfers:read` scope.
      tags: [Transactions]
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Transactions fetched

  /payment-routes/chains:
    get:
      operationId: listPaymentRouteChains
      summary: List supported chains
      description: Requires `collections:read` scope.
      tags: [Payment routes]
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Supported chains fetched

  /payment-routes/corridors:
    get:
      operationId: listPaymentRouteCorridors
      summary: List recommended corridors
      description: Requires `collections:read` scope.
      tags: [Payment routes]
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Recommended corridors fetched

  /payment-routes/currencies:
    get:
      operationId: getPaymentRouteCurrencyConfig
      summary: Get currency config
      description: Requires `collections:read` scope.
      tags: [Payment routes]
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Currency config fetched

  /payment-routes:
    get:
      operationId: listPaymentRoutes
      summary: List payment routes
      description: Requires `collections:read` scope.
      tags: [Payment routes]
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Payment routes fetched
    post:
      operationId: createPaymentRoute
      summary: Create payment route
      description: Creates a cross-chain payment route via Relay. Requires `collections:write` scope and `Idempotency-Key`.
      tags: [Payment routes]
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePaymentRouteRequest"
      responses:
        "201":
          description: Payment route created

  /payment-routes/deposits:
    get:
      operationId: listAllPaymentRouteDeposits
      summary: List all deposits
      description: Requires `collections:read` scope.
      tags: [Payment routes]
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Payment route deposits fetched

  /payment-routes/{id}:
    get:
      operationId: getPaymentRoute
      summary: Get payment route
      description: Requires `collections:read` scope.
      tags: [Payment routes]
      security:
        - ApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Payment route fetched
        "404":
          description: Not found
    delete:
      operationId: archivePaymentRoute
      summary: Archive payment route
      description: Requires `collections:write` scope and `Idempotency-Key`.
      tags: [Payment routes]
      security:
        - ApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "200":
          description: Payment route archived

  /payment-routes/{id}/deposits:
    get:
      operationId: listPaymentRouteDeposits
      summary: List route deposits
      description: Requires `collections:read` scope.
      tags: [Payment routes]
      security:
        - ApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Deposits fetched

  /payment-routes/{id}/deposits/sync:
    post:
      operationId: syncPaymentRouteDeposits
      summary: Sync route deposits
      description: Pulls latest deposit state from Relay. Requires `collections:write` scope and `Idempotency-Key`.
      tags: [Payment routes]
      security:
        - ApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "200":
          description: Deposits synced

  /payment-routes/{id}/pause:
    post:
      operationId: pausePaymentRoute
      summary: Pause payment route
      description: Requires `collections:write` scope and `Idempotency-Key`.
      tags: [Payment routes]
      security:
        - ApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "200":
          description: Payment route paused

  /payment-routes/{id}/activate:
    post:
      operationId: activatePaymentRoute
      summary: Activate payment route
      description: Requires `collections:write` scope and `Idempotency-Key`.
      tags: [Payment routes]
      security:
        - ApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "200":
          description: Payment route activated
